.navbar {
    background-color: #ffffff;
}

.navbar div {
    display: flex;
    align-items: center;
}

.navbar div img {
    width: 25%;
}

.navbar div h3 {
    margin: 0;
    padding-left: 1rem;
    font-weight: bold;
    color: #2a3b47;
}